# Project exclude paths
/.gradle/
/openTCS-API-Base/build/
/openTCS-API-Base/build/classes/java/main/
/openTCS-API-Injection/build/
/openTCS-API-Injection/build/classes/java/main/
/openTCS-CommAdapter-Loopback/build/
/openTCS-CommAdapter-Loopback/build/classes/java/guiceConfig/
/openTCS-CommAdapter-Loopback/build/classes/java/main/
/openTCS-Common/build/
/openTCS-Common/build/classes/java/main/
/openTCS-Impl-Configuration-cfg4j/build/
/openTCS-Impl-Configuration-cfg4j/build/classes/java/main/
/openTCS-Kernel/build/
/openTCS-Kernel/build/classes/java/guiceConfig/
/openTCS-Kernel/build/classes/java/main/
/openTCS-Kernel-Extension-HTTP-Services/build/
/openTCS-Kernel-Extension-HTTP-Services/build/classes/java/guiceConfig/
/openTCS-Kernel-Extension-HTTP-Services/build/classes/java/main/
/openTCS-Kernel-Extension-RMI-Services/build/
/openTCS-Kernel-Extension-RMI-Services/build/classes/java/guiceConfig/
/openTCS-Kernel-Extension-RMI-Services/build/classes/java/main/
/openTCS-Kernel-Extension-Statistics/build/
/openTCS-Kernel-Extension-Statistics/build/classes/java/guiceConfig/
/openTCS-Kernel-Extension-Statistics/build/classes/java/main/
/openTCS-Kernel-Extension-TCP-Host-Interface/build/
/openTCS-Kernel-Extension-TCP-Host-Interface/build/classes/java/guiceConfig/
/openTCS-Kernel-Extension-TCP-Host-Interface/build/classes/java/main/
/openTCS-PlantOverview/build/
/openTCS-PlantOverview/build/classes/java/guiceConfig/
/openTCS-PlantOverview/build/classes/java/main/
/openTCS-PlantOverview-Base/build/
/openTCS-PlantOverview-Base/build/classes/java/main/
/openTCS-PlantOverview-Panel-LoadGenerator/build/
/openTCS-PlantOverview-Panel-LoadGenerator/build/classes/java/guiceConfig/
/openTCS-PlantOverview-Panel-LoadGenerator/build/classes/java/main/
/openTCS-PlantOverview-Panel-ResourceAllocation/build/
/openTCS-PlantOverview-Panel-ResourceAllocation/build/classes/java/guiceConfig/
/openTCS-PlantOverview-Panel-ResourceAllocation/build/classes/java/main/
/openTCS-PlantOverview-Panel-Statistics/build/
/openTCS-PlantOverview-Panel-Statistics/build/classes/java/guiceConfig/
/openTCS-PlantOverview-Panel-Statistics/build/classes/java/main/
/openTCS-PlantOverview-Themes-Default/build/
/openTCS-PlantOverview-Themes-Default/build/classes/java/main/
/openTCS-Strategies-Default/build/
/openTCS-Strategies-Default/build/classes/java/guiceConfig/
/openTCS-Strategies-Default/build/classes/java/main/